.product-carousel {
    position: relative;
    width: 100%;
    max-width: 800px; /* Ajusta según el diseño */
    min-height: 400px; /* Asegura un espacio suficiente */
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: inherit;
    color: inherit;
}

.product-carousel.light-mode {
    background-color: #f8f9fa;
    color: #333;
}

.product-carousel.dark-mode {
    background-color: #333;
    color: #f8f9fa;
}

.carousel-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%; /* Ajustado para asegurar el ancho completo */
    overflow: hidden;
}

.product-card {
    flex: 0 0 100%;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    transition: all 0.5s ease;
    background-color: inherit;
    color: inherit;
}

.product-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.contact-link {
    display: block;
    margin-top: 5px;
    text-decoration: underline;
}

.product-carousel.light-mode .contact-link {
    color: #007bff;
}

.product-carousel.dark-mode .contact-link {
    color: #a9d4ff;
}

.contact-link:hover {
    opacity: 0.8;
}

.arrow {
    font-size: 2.5em;
    background-color: #333; /* Fondo sólido oscuro para visibilidad en ambos modos */
    border-radius: 50%; /* Forma circular */
    padding: 10px;
    border: none; /* Sin borde */
    cursor: pointer;
    color: #fff; /* Flechas blancas para alto contraste */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    transition: background-color 0.3s, color 0.3s;
}

.arrow:hover {
    background-color: #007bff; /* Fondo azul en hover */
    color: #fff; /* Flecha blanca en hover */
}

.arrow-left {
    left: 10px;
}

.arrow-right {
    right: 10px;
}


.category-buttons {
    margin-bottom: 20px;
    display: flex;
    gap: 15px;
    justify-content: center; /* Centrar los botones */
}

.category-button {
    padding: 12px 24px; /* Aumenta el tamaño del botón */
    font-size: 1.1em; /* Fuente más grande */
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.category-button.light {
    background-color: #ffffff;
    color: #333;
    border-color: #ddd; /* Mejor borde en modo claro */
}

.category-button.dark {
    background-color: #333;
    color: #fff;
}

.category-button.active {
    background-color: #FFD700;
    color: #333;
}

.category-button:hover {
    background-color: #007bff;
    color: #fff;
}

.slick-prev:before,
.slick-next:before {
  color: grey !important;
}